* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
main {
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  background-color:  #ced8fd;
  display: grid;
  place-content: center;
}

@media (max-width: 510px) {
    
.todo {
  width: 350px;
  min-height: 400px;
  background-color: white;
  padding: 40px 40px 80px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.done {
  width: 350px;
  background-color: white;
  padding: 40px 40px 80px;
  border-radius: 20px;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


.input_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #eeeeee;
}

.input_button input {
  padding: 10px 10px;
  border: none;
  background-color: transparent;
  font-size: 13px;
  border-radius: 20px;
}
.input_button button {
  background-color: #050591;
  color: #eeeeee;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
}


}

@media (min-width: 510px) {

.todo {
  width: 500px;
  min-height: 400px;
  background-color: white;
  padding: 40px 40px 80px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.done {
  width: 500px;
  background-color: white;
  padding: 40px 40px 80px;
  border-radius: 20px;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


.input_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #eeeeee;
}

.input_button input {
  padding: 10px 30px;
  padding-right: 150px;
  border: none;
  background-color: transparent;
  font-size: 13px;
  border-radius: 20px;
}
.input_button button {
  background-color: #050591;
  color: #eeeeee;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
}

    
}


.hidden {
  display: none;
}
.todo h2 {
  color: rgb(5, 5, 145);
  margin-bottom: 5px;
}
.done h2 {
  color: rgb(5, 5, 145);
  margin-bottom: 5px;
  max-width: 309px;
}

h3 {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #9393ce;
}

ul {
  padding: 0;
  margin-top: 20px;
}
li {
  list-style: none;
  font-size: 14px;
  padding: 15px 100px;
  padding-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #eeeeee;
  cursor: pointer;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(svg/circle_unchecked.svg);
  background-size: cover;
  background-position: center;
  top: 10px;
  left: 2px;
}

li:hover{
    color: #050591;
}

.checked {
  color: #05059172;
  text-decoration: line-through;
}

.checked::before {
  background-image: url(svg/button_checked.svg);
}

span {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  padding-left: 6px;
  color: #910505;
  border-radius: 50%;
}

span:hover {
  background-color: #eeeeee;
  scale: 1.5;
}

.buttons button {
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;
}

.inActiveBtn {
  background-color: #9393ce;
}

.inActiveBtn:hover {
  background-color: #050591e4;
}

.activeBtn {
  background-color: #050591e4;
}
